<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{id === 'nuevo' ? 'Crear' : 'Editar'}} certificado</h4>
                <form ngNativeValidate #formulario="ngForm" (ngSubmit)="crearCertificado(formulario)"
                    class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Cedula</label>
                        <div  class="input-group">
                            <div class="input-group-addon"><i class="ti-clipboard"></i></div>
                            <input name="cedula" [(ngModel)]="certificado.cedula" type="text" class="form-control"
                                placeholder="Cedula" required [disabled]= "condicion">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input name="nombre" [(ngModel)]="certificado.nombre" type="text" class="form-control"
                                placeholder="Nombre" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar</button>
                    <a routerLink="/administracion/certificados" class="btn btn-inverse waves-effect waves-light m-r-10">
                        <i class="fa fa-times"></i>
                        Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Certificado del alumno</h4>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-left col-md-3">Página</label>
                            <div class="col-md-4">
                                <input [(ngModel)]="pages" type="number" min="1">
                            </div>
                        </div>
                    </div>
                <pdf-viewer [src]="!imagenTemporal? (certificado.imagen | imagen:'certificados') : imagenTemporal"
                    [page]="pages" [show-all]="false" [render-text]="true" style="display: block;"
                    [original-size]="false"></pdf-viewer>
                <input (change)="seleccionarImagen($event.target.files[0])" type="file" />
            </div>
        </div>
    </div>
</div>