<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark bg-faded" id="menu">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['home']">
        <img src="" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- active -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/portafolio']">Portafolio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/avanzado']">Cursos Avanzados</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/internacional']">Cursos Internacionales</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/agencias']">Agencias</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/galeria']">Galeria</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registro']">Evaluación</a>
            </li>
        </ul>
        <form ngNativeValidate #formulario="ngForm" (ngSubmit)="descargarCertificado(formulario)" class="form-inline my-2 my-lg-0">
            <input [(ngModel)]="cedula" name="cedula"  class="form-control mr-sm-2" type="search" placeholder="Cedula" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Descargue el certificado</button>
        </form>
    </div>
</nav>

<script>
    $(window).scroll(function () {
        if ($("#menu").offset().top > 56) {
            $("#menu").addClass("bg-inverse");
        } else {
            $("#menu").removeClass("bg-inverse");
        }
    });
</script>

