<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarCurso(input.value)" type="text" class="form-control"
                    placeholder="Buscar cursos internacionales">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center" *ngIf="cargando">
    <strong>Cargando</strong>
    <br>
    <i class="fa fa-spinner fa-spin"></i>
    <br>
    <span>Espere por favor</span>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary"> <i class="fa fa-plus"></i>
                        Crear Curso Internacional
                    </button>
                </div>
                <h3 class="card-title"> Cursos internacionales registrados (<small>{{totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Titulo</th>
                            <th>Dirección</th>
                            <th>Fecha</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let internacional of cursoInternacional">
                            <td class="w70">
                                <img [src]="internacional.imagen | imagen: 'internacionales'" class="img-50 img-circle">
                            </td>
                            <td>{{internacional.titulo}}</td>
                            <td>{{internacional.direccion}}</td>
                            <td>{{internacional.fecha}}</td>
                            <td>
                                <div class="d-flex justify-content-sm-end">
                                    <button class="btn btn-primary mr-1">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button (click)="eliminarCurso()" class="btn btn-danger mr-1">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)"
                    class="btn btn-secondary mr-1 matTooltip='Info about the action'">Anteriores</button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary mr-1">Siguientes</button>
            </div>
        </div>
    </div>
</div>