<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Crear Agencia</h4>
                <form ngNativeValidate #formulario="ngForm" (ngSubmit)="crearCursoInternacional(formulario)"
                    class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Titulo</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="titulo"
                            [(ngModel)]="internacional.titulo" [placeholder]="'Ingrese el titulo aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Direccion</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="direccion"
                            [(ngModel)]="internacional.direccion" [placeholder]="'Ingrese la dirección aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Fecha</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="fecha"
                            [(ngModel)]="internacional.fecha" [placeholder]="'Ingrese la fecha aqui....'" [spellcheck]="true"
                            required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Descripción</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="descripcion"
                            [(ngModel)]="internacional.descripcion" [placeholder]="'Ingrese la descripción aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Requisitos</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="requisitos"
                            [(ngModel)]="internacional.requisitos" [placeholder]="'Ingrese los requisitos aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Proposito</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="proposito"
                            [(ngModel)]="internacional.proposito" [placeholder]="'Ingrese el proposito aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Metodología</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="metodologia"
                            [(ngModel)]="internacional.metodologia" [placeholder]="'Ingrese la metodología aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Valor</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="valor"
                            [(ngModel)]="internacional.valor" [placeholder]="'Ingrese el valor aqui....'" [spellcheck]="true"
                            required></app-ngx-editor>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Incluye</label>
                        <app-ngx-editor ngNativeValidate [config]="configuraciones" name="incluye"
                            [(ngModel)]="internacional.incluye" [placeholder]="'Ingrese lo que se incluye aqui....'"
                            [spellcheck]="true" required></app-ngx-editor>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar</button>
                    <a routerLink="/internacional" class="btn btn-inverse waves-effect waves-light m-r-10">
                        <i class="fa fa-times"></i>
                        Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Imagen del curso internacional</h4>
                <img *ngIf="!imagenTemporal" [src]="internacional.imagen| imagen:'internacionales'" class="w150">
                <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150">
                <input style="font-family: 'Times New Roman', Times, serif;"
                    (change)="seleccionarImagen($event.target.files[0])" type="file" />
            </div>
        </div>
    </div>
</div>