<div class="container marketing card" *ngFor="let portafolio of portafoliosLista">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-12">
            <br>
            <span [innerHTML]="portafolio.titulo | domSeguro"></span>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <img class="img-fluid mx-auto" width="500" height="500" [src]="portafolio.imagen | imagen: 'portafolios'">
        </div>
        <div class="col-md-7">
            <span [innerHTML]="portafolio.mision | domSeguro"></span>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <span [innerHTML]="portafolio.vision | domSeguro"></span>
        </div>
        <div class="col-md-12">
            <span [innerHTML]="portafolio.centro | domSeguro"></span>
        </div>
        <div class="col-md-12">
            <span [innerHTML]="portafolio.requisitos | domSeguro"></span>
        </div>
        <div class="col-md-12">
            <span [innerHTML]="portafolio.incluye | domSeguro"></span>
        </div>
    </div>
    <hr class="featurette-divider">
    <div *ngFor="let portafolioCurso of portafolioCursoLista" class="row featurette">
        <div class="col-md-7">
            <span [innerHTML]="portafolioCurso.curso | domSeguro"></span>
            <span [innerHTML]="portafolioCurso.informacion | domSeguro"></span>
        </div>
        <div class="col-md-5">
            <img class="img-fluid mx-auto" width="500" height="500"
                [src]="portafolioCurso.imagen | imagen: 'portafolioCursos'">
        </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->